* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid green;
  margin: 0;
  padding: 0;
}
.audio-state {
  font-size: larger;
  font-weight: 900;
}

div .container {
  height: auto;
  padding: 5px;
  width: auto;
}
.track-container {
  display: flex;

}

.track-controls {
  display: inline-block;
  height: auto;
  width: 180px;
}

.track-notes {
  display:inline-flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

/* button */
.sample-btn-container {
  position: relative;
}



.btn {
  box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:10px;
  padding:7px 25px;
  margin: 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.btn:disabled {
  box-shadow: none;
  background: none;
  background-color: #bab1ba;
  border: none;
  color: #899599;
  text-shadow: none;
}
.btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.btn:active {
	position:relative;
	top:1px;
}

.load {
  min-width: 140px;
}

.playPause {
  position: relative;
  width: auto;
}

.playPause:active {
  position:relative;

}

/*TEMPO*/

.tempo {
  font-family: Arial;
  font-size: 17px;
}

#bpmVal {
  display: inline-block;
  font-size: 17px;
  text-align: right;
  width: 40px;
}

@import "./volumeSlider.css"